<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Новая книга</title>
</head>
<body>
    <form th:method="POST" th:action="@{/books}" th:object="${book}">
        <label for="name">Введите имя:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <label for="author">Выберите автора:</label>
        <select th:field="*{author}">
            <option th:each="author: ${authors}" th:value="${author.getId()}" th:text="${author.getName()}" id="author"></option>
        </select>
        <label for="genre">Выберите жанр:</label>
        <select th:field="*{genre}">
            <option th:each="genre: ${genres}" th:value="${genre.getId()}" th:text="${genre.getName()}" id="genre"></option>
        </select>
        <br/>
        <input type="submit" value="Записать!"/>

    </form>

   
  
 
    
</body>
</html>