<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Новый автор</title>
</head>
<body>
    <form th:method="POST" th:action="@{/authors}" th:object="${author}">
        <label for="name">Введите имя:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <input type="submit" value="Записать!"/>

    </form>
    
</body>
</html>